# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python package

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.11
      uses: actions/setup-python@v3
      with:
        python-version: 3.11
    
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        git clone https://github.com/OpenNaja/cobra-tools 
        git https://github.com/niftools/nifxml
        git clone https://github.com/Candoran2/new-pyffi
        ln -s nifxml/nif.xml new-pyffi/formats/nif/nif.xml
        ln -s new-pyffi/formats/nif cobra-tools/source/formats/nif
        ln -s new-pyffi/spells cobra-tools/source/spells
        ln -s new-pyffi/utils cobra-tools/source/utils
        cd cobra-tools && python3 makegen.py
        cp -r cobra-tools/generated .
        rm -rf cobra-tools new-pyffi nifxml
    
    - name: build
      run: python setup.py sdist
        
    - name: Upload Artifact
      uses: actions/upload-artifact@4
      with:
        name: EMLib
        path: dist/
      
